---

---

<div class="bg-gray-50 sm:rounded-lg dark:bg-gray-900 dark:text-white">
  <div class="px-4 py-5 sm:p-6">
    <hgroup>
      <h3 class="text-base font-semibold leading-6 text-gray-900 mt-0 dark:text-white">RSVP</h3>
      <p class="text-sm">
        Please RSVP so that I know how many to expect. If you're bringing any +1s, please RSVP for each person
        individually (i.e. submit the form once for each person).
      </p>
    </hgroup>
    <div
      class="rounded-md px-3 pb-1.5 pt-2.5 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600"
    >
      <label for="name" class="block text-xs font-medium text-gray-900 dark:text-white">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="bg-gray-50 dark:bg-gray-900 dark:text-white dark:placeholder:text-gray-500 block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
        placeholder="Jane Smith"
      />
    </div>

    <button
      type="button"
      class="mt-5 rounded-md bg-green-50 px-2.5 py-1.5 text-sm font-semibold text-green-600 shadow-sm hover:bg-green-100"
      >Submit</button
    >
  </div>
</div>
