---
import FooterWrapper from "@components/FooterWrapper.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title}`} description={entry.description}>
  <FooterWrapper>
    <div class="flex place-content-center">
      <article class="prose mt-10 mb-10">
        <Content />
      </article>
    </div>
  </FooterWrapper>
</Layout>
