@font-face {
  font-family: "CommitMono";
  src: url("/fonts/CommitMono/CommitMono-450-Regular.otf") format("otf");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CommitMono";
  src: url("/fonts/CommitMono/CommitMono-450-Italic.otf") format("otf");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CommitMono";
  src: url("/fonts/CommitMono/CommitMono-700-Regular.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CommitMono";
  src: url("/fonts/CommitMono/CommitMono-700-Italic.otf") format("otf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
