---
import Container from "@components/Container.astro";
import NavbarLayout from "@layouts/NavbarLayout.astro";
---

<NavbarLayout title="Page not found" description="Page not found">
  <Container width="narrow">
    <main>
      <div class="text-center">
        <h1 class="mt-20 text-4xl font-bold tracking-tight dark:text-white">Page not found</h1>
      </div>
    </main>
  </Container>
</NavbarLayout>
