---
import About from "@components/About.mdx";
import Hero from "@components/Hero.astro";
import NavbarLayout from "@layouts/NavbarLayout.astro";
---

<NavbarLayout>
  <Hero />
  <div class="pt-1 md:pt-10 pb-6 dark:bg-black">
    <div class="flex flex-col items-center m-10 md:m-0">
      <section class="prose dark:prose-invert">
        <About />
      </section>
    </div>
  </div>
</NavbarLayout>
