---
import Container from "./Container.astro";
---

<Container width="normal">
  <p class={`mb-4`}>
    I'm a software engineer. I have a particular passion for programming
    languages, infrastructure, and developer tools. Some of my favorite
    languages are Rust, Haskell, TypeScript, and Java (strictly for sentimental
    reasons).
  </p>
  <p class={`mb-4`}>
    I'm studying at{" "}
    <a class={`underline hover:no-underline`} href="https://omscs.gatech.edu/">
      Georgia Tech
    </a>{" "}
     to pursue a Masters in Computer Science.
  </p>
  <p class={`mb-4`}>
    I'm a fan of free software and a supporter of open source.
  </p>
  <p class={`mb-4`}>
    I'm very active on{" "}
    <a
      href="https://github.com/shepherdjerred"
      class={`underline hover:no-underline`}
    >
      GitHub
    </a>
     , so you can check that out if you're curious about what I've been working
    on. My resume has a bit more of a complete view of my background.
  </p>
  <p>
    My non-computer-related interests include rock climbing, cooking, cats, and
    reading.
  </p>
</Container>
