---
interface Props {
  extraCss: string;
  pattern: string;
}

const { extraCss, pattern } = Astro.props;
---

<div
  class:list={[
    `min-h-[100vh]`,
    { backgroundImage: `url(${pattern})` },
    extraCss,
  ]}
>
  <slot />
</div>
