---
interface Props {
  extraCss?: string | undefined;
}

const { extraCss } = Astro.props;

import pattern from "@assets/pattern.svg";
---

<div class:list={[`min-h-[100vh]`, extraCss]} style=`background-image: url(${pattern.src})`>
  <slot />
</div>
