---
interface Props {
  extraCss?: string | undefined;
}

const { extraCss } = Astro.props;

import pattern from "@images/pattern.svg";
---

<div class:list={[extraCss]} style=`background-image: url(${pattern.src}); background-attachment: fixed;`>
  <slot />
</div>
