---
import Container from "./Container.astro";
import RawWebring from "../../webring/out.html";
---

<div class="flex flex-col">
  <div class="border-2 w-3/5 md:w-1/5 place-self-center rounded-full"></div>
  <div class="flex place-content-center bg-neutral-100 text-black dark:bg-black">
    <section class="webring mb-20">
      <Container width="wide">
        <h3 class="text-2xl mb-10 text-center mt-10 dark:text-white">Posts from blogs I like</h3>
        <section class="articles flex flex-col sm:flex-row gap-8">
          <RawWebring />
        </section>
      </Container>
    </section>
  </div>
</div>
