<div class="rounded-xl border-2 dark:border-white p-4 ml-8 mr-8 flex flex-col items-center">
  <span class="mb-4"><a href="https://en.wikipedia.org/wiki/Socratic_dialogue">Socratic Dialogue</a></span>
  <slot />
</div>
