---
import type { CollectionEntry } from "astro:content";
import * as R from "remeda";
import type { JSX } from "astro/jsx-runtime";
import LeetCodeEntry from "./LeetCodeEntry.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  date: Date;
  entries: CollectionEntry<"leetcode">[];
};

const { date, entries } = Astro.props;
---

<div>
  <h2 class="text-black font-bold text-2xl mb-2 bg-white pr-8 pl-8 pt-4 pb-4"><FormattedDate date={date} /></h2>
  <div class="flex flex-col gap-6">
    {R.map(entries, (entry): JSX.Element => <LeetCodeEntry entry={entry} />)}
  </div>
</div>
