---
import Container from "./Container.astro";
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="bg-black text-white">
  <Container width="normal">
    <ul class="flex flex-wrap content-center place-content-center sm:justify-start gap-2 p-2">
      <a href="/"
        ><li class:list={["p-1 hover:bg-white hover:text-black", pathname === "/" ? "bg-white text-black" : ""]}>
          Home
        </li></a
      >
      <a href="/blog"
        ><li class:list={["p-1 hover:bg-white hover:text-black", pathname === "/blog/" ? "bg-white text-black" : ""]}>
          Blog
        </li></a
      >
    </ul>
  </Container>
</nav>
