---
type Props = {
  isHighlighted: boolean;
  href: string;
};

const { href, isHighlighted } = Astro.props;
---

<a href={href}
  ><li class:list={["p-1 hover:bg-white hover:text-black underline", isHighlighted ? "bg-white text-black" : ""]}>
    <slot />
  </li></a
>
