---
import Container from "./Container.astro";
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="bg-black text-white">
  <Container width="wide-mobile">
    <ul class="flex flex-wrap content-center place-content-center sm:justify-start gap-2 p-2">
      <a href="/"
        ><li
          class:list={[
            "p-1 hover:bg-white hover:text-black underline hover:no-underline",
            pathname === "/" ? "bg-white text-black no-underline" : "",
          ]}
        >
          Home
        </li></a
      >
      <a href="/blog/"
        ><li
          class:list={[
            "p-1 hover:bg-white hover:text-black underline hover:no-underline",
            pathname === "/blog/" ? "bg-white text-black no-underline" : "",
          ]}
        >
          Blog
        </li></a
      >
      <a href="/links/"
        ><li
          class:list={[
            "p-1 hover:bg-white hover:text-black underline hover:no-underline",
            pathname === "/links/" ? "bg-white text-black no-underline" : "",
          ]}
        >
          Links
        </li></a
      >
      <a href="/gatech/">
        <li
          class:list={[
            "p-1 hover:bg-white hover:text-black underline hover:no-underline",
            pathname === "/gatech/" ? "bg-white text-black no-underline" : "",
          ]}
        >
          Georgia Tech
        </li>
      </a>
    </ul>
  </Container>
</nav>
